body {
  font-family: 'sofia_pro_regular';
  font-weight: normal;
  background: #eee;
}

h1,h2 {

}

h3, h4, h5, h6 {

}

@mixin animation($element,$time,$ease) {
    webkit-transition: $element $time $ease;
    -moz-transition: $element $time $ease;
    -o-transition: $element $time $ease;
    transition: $element $time $ease;
}

.overlay {
  position: fixed;
  display: flex;

  background: rgba(34,34,34,0.9);
  color: white;

  margin : 0;
  padding: 10px;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;

  opacity: 0;

  &.active {
    opacity: 1;
  }

}

.modal {
  width: 600px;
  margin: 0 auto;

  border-radius: 3px;

  &.loading {

    .modal-header {
      color: #888888;

      &:after {
        background: $fade;
      }

    }

    .modal-title__loading {
      top: 0;
    }

    .modal-title__success {
      top: -100%;
    }

  }

  &.success {

    .modal-header {
      color: #DEFCEF;

      img {
        opacity: 1;
      }

      &:after {
        background: rgba(0,193,134,0.85);
      }

    }

    .modal-title__loading {
      top: 200%;
    }

    .modal-title__success {
      top: 0;
    }

  }

  &-title {
    position: absolute;

    top: 0;

    height: 100%;
    width: 100%;

    z-index: 2;

    line-height: 1;
    font-size: 30px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include animation(all,0.5s,ease);

    &__icon {
      display: block;
      margin: 0 auto 10px auto;
    }

    &__success, &__loading {
      top: -100%;
    }

  }

  &-header {
    position: relative;

    width: 100%;
    height: 300px;

    overflow: hidden;

    img {
      opacity: 0;
      @include animation(all,0.3s,ease);
    }

    &:after {
      position: absolute;
      content: "";

      padding: 0;
      margin: 0;

      top: 0;
      left: 0;

      background: transparent;
      color: white;

      height: 100%;
      width: 100%;

    }

  }

  &-left, &-right {
    float: left;
    display: inline-block;
  }

}

.spinner {
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border-top: 2px solid #888888;
    border-right: 2px solid #E2E2E2;
    border-bottom: 2px solid #E2E2E2;
    border-left: 2px solid #E2E2E2;
    border-radius: 100%;
    animation: rotate 0.7s infinite linear;
    margin: 0 auto;
    display: block;

    &--large {
      width: 60px;
      height: 60px;
      border-width: 5px;
    }

}
