.header {
  padding-top: 2rem;

  &-mobile {
    top: 0;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    background: white;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;

    &.active {
      height: 100vh;

      .nav-mobile__container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        height: 99%;
      }

    }

  }

  &__logo {
    max-width: 150px;
  }

}

.social-links {

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  img {

    &:hover {
      opacity: 0.7;
    }
  }

}

.nav, .menu-main-menu-container {
  margin: 2rem 0;

  &-mobile {
    padding: 4rem 2rem 0 2rem;

    &__container {
      display: none;
    }

    &__bottom {
      padding: 1rem;
      width: 100%;
    }

    &__shop {
      padding: 1rem 0 2rem 1rem;
      width: 100%;
      font-size: 1.5rem;

      a {
        text-decoration: none;
      }

    }

    &__social {
      padding: 0 0 2rem 0;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      align-content: space-around;

      a {
        text-decoration: none;
      }

    }

    ul {

      li {
        position: relative;
        display: block;

        &:last-child {
          a {
            padding-bottom: 0;
          }
        }

        a {
          position: relative;
          font-size: 1.5rem;
          padding-bottom: 2rem;
          display: block;
          text-decoration: none;
          background: transparent;
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;

    & > li {
      position: relative;
      display: inline-block;

      a {
        &:hover {
          background: transparent;
        }
      }
    }

    li {
      position: relative;
      display: inline-block;

      &.current_page_item {
        text-decoration: underline;
      }

      a {
        padding: 0 1rem;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

    }

  }

}
