/* See style guide: http://www.firebox.com/admin/style_guide */
/* jake added this, does it exist? */
@keyframes rotate {
  from {
    transform: rotate(0) translate3d(0, 0, 0); }
  to {
    transform: rotate(359deg) translate3d(0, 0, 0); } }

body {
  font-family: 'Helvetica';
  font-weight: normal;
  background: #FFFFFF; }

.overlay {
  position: fixed;
  display: flex;
  background: rgba(34, 34, 34, 0.9);
  color: white;
  margin: 0;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }
  .overlay.active {
    opacity: 1; }

.modal {
  width: 600px;
  margin: 0 auto;
  border-radius: 3px; }
  .modal.loading .modal-header {
    color: #888888; }
    .modal.loading .modal-header:after {
      background: #EFEFEF; }
  .modal.loading .modal-title__loading {
    top: 0; }
  .modal.loading .modal-title__success {
    top: -100%; }
  .modal.success .modal-header {
    color: #DEFCEF; }
    .modal.success .modal-header img {
      opacity: 1; }
    .modal.success .modal-header:after {
      background: rgba(0, 193, 134, 0.85); }
  .modal.success .modal-title__loading {
    top: 200%; }
  .modal.success .modal-title__success {
    top: 0; }
  .modal-title {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    line-height: 1;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .modal-title__icon {
      display: block;
      margin: 0 auto 10px auto; }
    .modal-title__success, .modal-title__loading {
      top: -100%; }
  .modal-header {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden; }
    .modal-header img {
      opacity: 0;
      webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .modal-header:after {
      position: absolute;
      content: "";
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      background: transparent;
      color: white;
      height: 100%;
      width: 100%; }
  .modal-left, .modal-right {
    float: left;
    display: inline-block; }

.spinner {
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border-top: 2px solid #888888;
  border-right: 2px solid #E2E2E2;
  border-bottom: 2px solid #E2E2E2;
  border-left: 2px solid #E2E2E2;
  border-radius: 100%;
  animation: rotate 0.7s infinite linear;
  margin: 0 auto;
  display: block; }
  .spinner--large {
    width: 60px;
    height: 60px;
    border-width: 5px; }

@-ms-viewport {
  width: device-width; }

.example {
  background: white;
  border-radius: 4px;
  border: 2px #EFEFEF solid;
  margin-bottom: 20px; }
  .example__header {
    background: #F4F4F4;
    color: #CCCCC;
    padding: 10px;
    border-bottom: 2px solid #EFEFEF; }
  .example__content {
    min-height: 100px; }

.fb-container, .fb-cont {
  position: relative;
  margin: 0 auto;
  max-width: 100%; }
  .fb-container *, .fb-cont * {
    box-sizing: border-box; }
  @media (min-width: 300px) {
    .fb-container, .fb-cont {
      max-width: 365px; } }
  @media (min-width: 768px) {
    .fb-container, .fb-cont {
      max-width: 728px; } }
  @media (min-width: 1024px) {
    .fb-container, .fb-cont {
      max-width: 1004px; } }
  @media (min-width: 1280px) {
    .fb-container, .fb-cont {
      max-width: 1080px; } }
  @media (min-width: 1600px) {
    .fb-container, .fb-cont {
      max-width: 1280px; } }

.fb-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .fb-row.fb-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.fb-row:before,
.fb-row:after {
  content: "";
  display: table;
  clear: both; }

.fb-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.fb-inset {
  background: #EFEFEF;
  padding: 20px;
  color: #CCCCCC; }

.fb-img {
  display: block;
  position: relative;
  max-width: 100%;
  border: none; }

.fb-img-fill {
  display: block;
  position: relative;
  width: 100%;
  border: none; }

@media (min-width: 300px) {
  .fbc-xs,
  .fbc-xs-1,
  .fbc-xs-2,
  .fbc-xs-3,
  .fbc-xs-4,
  .fbc-xs-5,
  .fbc-xs-6,
  .fbc-xs-7,
  .fbc-xs-8,
  .fbc-xs-9,
  .fbc-xs-10,
  .fbc-xs-11,
  .fbc-xs-12,
  .fbc-xs-offset-1,
  .fbc-xs-offset-2,
  .fbc-xs-offset-3,
  .fbc-xs-offset-4,
  .fbc-xs-offset-5,
  .fbc-xs-offset-6,
  .fbc-xs-offset-7,
  .fbc-xs-offset-8,
  .fbc-xs-offset-9,
  .fbc-xs-offset-10,
  .fbc-xs-offset-11,
  .fbc-xs-offset-12 {
    position: relative;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .fbc-xs {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .fbc-xs-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .fbc-xs-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .fbc-xs-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .fbc-xs-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .fbc-xs-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .fbc-xs-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .fbc-xs-7 {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%; }
  .fbc-xs-8 {
    -webkit-flex-basis: 66.67%;
    -ms-flex-preferred-size: 66.67%;
    flex-basis: 66.67%;
    max-width: 66.67%; }
  .fbc-xs-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .fbc-xs-10 {
    -webkit-flex-basis: 83.33%;
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    max-width: 83.33%; }
  .fbc-xs-11 {
    -webkit-flex-basis: 91.67%;
    -ms-flex-preferred-size: 91.67%;
    flex-basis: 91.67%;
    max-width: 91.67%; }
  .fbc-xs-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .fbc-xs-offset-1 {
    margin-left: 8.33%; }
  .fbc-xs-offset-2 {
    margin-left: 16.67%; }
  .fbc-xs-offset-3 {
    margin-left: 25%; }
  .fbc-xs-offset-4 {
    margin-left: 33.33%; }
  .fbc-xs-offset-5 {
    margin-left: 41.67%; }
  .fbc-xs-offset-6 {
    margin-left: 50%; }
  .fbc-xs-offset-7 {
    margin-left: 58.33%; }
  .fbc-xs-offset-8 {
    margin-left: 66.67%; }
  .fbc-xs-offset-9 {
    margin-left: 75%; }
  .fbc-xs-offset-10 {
    margin-left: 83.33%; }
  .fbc-xs-offset-11 {
    margin-left: 91.67%; }
  .fb-start-xs {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .fb-center-xs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .fb-end-xs {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .fb-top-xs {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .fb-middle-xs {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .fb-bottom-xs {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .fb-around-xs {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .fb-between-xs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .fb-first-xs {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .fb-last-xs {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 768px) {
  .fbc-sm,
  .fbc-sm-1,
  .fbc-sm-2,
  .fbc-sm-3,
  .fbc-sm-4,
  .fbc-sm-5,
  .fbc-sm-6,
  .fbc-sm-7,
  .fbc-sm-8,
  .fbc-sm-9,
  .fbc-sm-10,
  .fbc-sm-11,
  .fbc-sm-12,
  .fbc-sm-offset-1,
  .fbc-sm-offset-2,
  .fbc-sm-offset-3,
  .fbc-sm-offset-4,
  .fbc-sm-offset-5,
  .fbc-sm-offset-6,
  .fbc-sm-offset-7,
  .fbc-sm-offset-8,
  .fbc-sm-offset-9,
  .fbc-sm-offset-10,
  .fbc-sm-offset-11,
  .fbc-sm-offset-12 {
    position: relative;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .fbc-sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .fbc-sm-1 {
    -webkit-flex-basis: 8.33%;
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    max-width: 8.33%; }
  .fbc-sm-2 {
    -webkit-flex-basis: 16.67%;
    -ms-flex-preferred-size: 16.67%;
    flex-basis: 16.67%;
    max-width: 16.67%; }
  .fbc-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .fbc-sm-4 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%; }
  .fbc-sm-5 {
    -webkit-flex-basis: 41.67%;
    -ms-flex-preferred-size: 41.67%;
    flex-basis: 41.67%;
    max-width: 41.67%; }
  .fbc-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .fbc-sm-7 {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%; }
  .fbc-sm-8 {
    -webkit-flex-basis: 66.67%;
    -ms-flex-preferred-size: 66.67%;
    flex-basis: 66.67%;
    max-width: 66.67%; }
  .fbc-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .fbc-sm-10 {
    -webkit-flex-basis: 83.33%;
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    max-width: 83.33%; }
  .fbc-sm-11 {
    -webkit-flex-basis: 91.67%;
    -ms-flex-preferred-size: 91.67%;
    flex-basis: 91.67%;
    max-width: 91.67%; }
  .fbc-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .fbc-sm-offset-1 {
    margin-left: 8.33%; }
  .fbc-sm-offset-2 {
    margin-left: 16.67%; }
  .fbc-sm-offset-3 {
    margin-left: 25%; }
  .fbc-sm-offset-4 {
    margin-left: 33.33%; }
  .fbc-sm-offset-5 {
    margin-left: 41.67%; }
  .fbc-sm-offset-6 {
    margin-left: 50%; }
  .fbc-sm-offset-7 {
    margin-left: 58.33%; }
  .fbc-sm-offset-8 {
    margin-left: 66.67%; }
  .fbc-sm-offset-9 {
    margin-left: 75%; }
  .fbc-sm-offset-10 {
    margin-left: 83.33%; }
  .fbc-sm-offset-11 {
    margin-left: 91.67%; }
  .fb-start-sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .fb-center-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .fb-end-sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .fb-top-sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .fb-middle-sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .fb-bottom-sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .fb-around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .fb-between-sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .fb-first-sm {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .fb-last-sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1024px) {
  .fbc-md,
  .fbc-md-1,
  .fbc-md-2,
  .fbc-md-3,
  .fbc-md-4,
  .fbc-md-5,
  .fbc-md-6,
  .fbc-md-7,
  .fbc-md-8,
  .fbc-md-9,
  .fbc-md-10,
  .fbc-md-11,
  .fbc-md-12,
  .fbc-md-offset-1,
  .fbc-md-offset-2,
  .fbc-md-offset-3,
  .fbc-md-offset-4,
  .fbc-md-offset-5,
  .fbc-md-offset-6,
  .fbc-md-offset-7,
  .fbc-md-offset-8,
  .fbc-md-offset-9,
  .fbc-md-offset-10,
  .fbc-md-offset-11,
  .fbc-md-offset-12 {
    position: relative;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .fbc-md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .fbc-md-1 {
    -webkit-flex-basis: 8.33%;
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    max-width: 8.33%; }
  .fbc-md-2 {
    -webkit-flex-basis: 16.67%;
    -ms-flex-preferred-size: 16.67%;
    flex-basis: 16.67%;
    max-width: 16.67%; }
  .fbc-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .fbc-md-4 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%; }
  .fbc-md-5 {
    -webkit-flex-basis: 41.67%;
    -ms-flex-preferred-size: 41.67%;
    flex-basis: 41.67%;
    max-width: 41.67%; }
  .fbc-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .fbc-md-7 {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%; }
  .fbc-md-8 {
    -webkit-flex-basis: 66.67%;
    -ms-flex-preferred-size: 66.67%;
    flex-basis: 66.67%;
    max-width: 66.67%; }
  .fbc-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .fbc-md-10 {
    -webkit-flex-basis: 83.33%;
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    max-width: 83.33%; }
  .fbc-md-11 {
    -webkit-flex-basis: 91.67%;
    -ms-flex-preferred-size: 91.67%;
    flex-basis: 91.67%;
    max-width: 91.67%; }
  .fbc-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .fbc-md-offset-1 {
    margin-left: 8.33%; }
  .fbc-md-offset-2 {
    margin-left: 16.67%; }
  .fbc-md-offset-3 {
    margin-left: 25%; }
  .fbc-md-offset-4 {
    margin-left: 33.33%; }
  .fbc-md-offset-5 {
    margin-left: 41.67%; }
  .fbc-md-offset-6 {
    margin-left: 50%; }
  .fbc-md-offset-7 {
    margin-left: 58.33%; }
  .fbc-md-offset-8 {
    margin-left: 66.67%; }
  .fbc-md-offset-9 {
    margin-left: 75%; }
  .fbc-md-offset-10 {
    margin-left: 83.33%; }
  .fbc-md-offset-11 {
    margin-left: 91.67%; }
  .fb-start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .fb-center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .fb-end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .fb-top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .fb-middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .fb-bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .fb-around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .fb-between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .fb-first-md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .fb-last-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1280px) {
  .fbc-lg,
  .fbc-lg-1,
  .fbc-lg-2,
  .fbc-lg-3,
  .fbc-lg-4,
  .fbc-lg-5,
  .fbc-lg-6,
  .fbc-lg-7,
  .fbc-lg-8,
  .fbc-lg-9,
  .fbc-lg-10,
  .fbc-lg-11,
  .fbc-lg-12,
  .fbc-lg-offset-1,
  .fbc-lg-offset-2,
  .fbc-lg-offset-3,
  .fbc-lg-offset-4,
  .fbc-lg-offset-5,
  .fbc-lg-offset-6,
  .fbc-lg-offset-7,
  .fbc-lg-offset-8,
  .fbc-lg-offset-9,
  .fbc-lg-offset-10,
  .fbc-lg-offset-11,
  .fbc-lg-offset-12 {
    position: relative;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .fbc-lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .fbc-lg-1 {
    -webkit-flex-basis: 8.33%;
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    max-width: 8.33%; }
  .fbc-lg-2 {
    -webkit-flex-basis: 16.67%;
    -ms-flex-preferred-size: 16.67%;
    flex-basis: 16.67%;
    max-width: 16.67%; }
  .fbc-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .fbc-lg-4 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%; }
  .fbc-lg-5 {
    -webkit-flex-basis: 41.67%;
    -ms-flex-preferred-size: 41.67%;
    flex-basis: 41.67%;
    max-width: 41.67%; }
  .fbc-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .fbc-lg-7 {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%; }
  .fbc-lg-8 {
    -webkit-flex-basis: 66.67%;
    -ms-flex-preferred-size: 66.67%;
    flex-basis: 66.67%;
    max-width: 66.67%; }
  .fbc-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .fbc-lg-10 {
    -webkit-flex-basis: 83.33%;
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    max-width: 83.33%; }
  .fbc-lg-11 {
    -webkit-flex-basis: 91.67%;
    -ms-flex-preferred-size: 91.67%;
    flex-basis: 91.67%;
    max-width: 91.67%; }
  .fbc-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .fbc-lg-offset-1 {
    margin-left: 8.33%; }
  .fbc-lg-offset-2 {
    margin-left: 16.67%; }
  .fbc-lg-offset-3 {
    margin-left: 25%; }
  .fbc-lg-offset-4 {
    margin-left: 33.33%; }
  .fbc-lg-offset-5 {
    margin-left: 41.67%; }
  .fbc-lg-offset-6 {
    margin-left: 50%; }
  .fbc-lg-offset-7 {
    margin-left: 58.33%; }
  .fbc-lg-offset-8 {
    margin-left: 66.67%; }
  .fbc-lg-offset-9 {
    margin-left: 75%; }
  .fbc-lg-offset-10 {
    margin-left: 83.33%; }
  .fbc-lg-offset-11 {
    margin-left: 91.67%; }
  .fb-start-lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .fb-center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .fb-end-lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .fb-top-lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .fb-middle-lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .fb-bottom-lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .fb-around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .fb-between-lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .fb-first-lg {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .fb-last-lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1600px) {
  .fbc-xl,
  .fbc-xl-1,
  .fbc-xl-2,
  .fbc-xl-3,
  .fbc-xl-4,
  .fbc-xl-5,
  .fbc-xl-6,
  .fbc-xl-7,
  .fbc-xl-8,
  .fbc-xl-9,
  .fbc-xl-10,
  .fbc-xl-11,
  .fbc-xl-12,
  .fbc-xl-offset-1,
  .fbc-xl-offset-2,
  .fbc-xl-offset-3,
  .fbc-xl-offset-4,
  .fbc-xl-offset-5,
  .fbc-xl-offset-6,
  .fbc-xl-offset-7,
  .fbc-xl-offset-8,
  .fbc-xl-offset-9,
  .fbc-xl-offset-10,
  .fbc-xl-offset-11,
  .fbc-xl-offset-12 {
    position: relative;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .fbc-xl {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .fbc-xl-1 {
    -webkit-flex-basis: 8.33%;
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
    max-width: 8.33%; }
  .fbc-xl-2 {
    -webkit-flex-basis: 16.67%;
    -ms-flex-preferred-size: 16.67%;
    flex-basis: 16.67%;
    max-width: 16.67%; }
  .fbc-xl-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .fbc-xl-4 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%; }
  .fbc-xl-5 {
    -webkit-flex-basis: 41.67%;
    -ms-flex-preferred-size: 41.67%;
    flex-basis: 41.67%;
    max-width: 41.67%; }
  .fbc-xl-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .fbc-xl-7 {
    -webkit-flex-basis: 58.33%;
    -ms-flex-preferred-size: 58.33%;
    flex-basis: 58.33%;
    max-width: 58.33%; }
  .fbc-xl-8 {
    -webkit-flex-basis: 66.67%;
    -ms-flex-preferred-size: 66.67%;
    flex-basis: 66.67%;
    max-width: 66.67%; }
  .fbc-xl-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .fbc-xl-10 {
    -webkit-flex-basis: 83.33%;
    -ms-flex-preferred-size: 83.33%;
    flex-basis: 83.33%;
    max-width: 83.33%; }
  .fbc-xl-11 {
    -webkit-flex-basis: 91.67%;
    -ms-flex-preferred-size: 91.67%;
    flex-basis: 91.67%;
    max-width: 91.67%; }
  .fbc-xl-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .fbc-xl-offset-1 {
    margin-left: 8.33%; }
  .fbc-xl-offset-2 {
    margin-left: 16.67%; }
  .fbc-xl-offset-3 {
    margin-left: 25%; }
  .fbc-xl-offset-4 {
    margin-left: 33.33%; }
  .fbc-xl-offset-5 {
    margin-left: 41.67%; }
  .fbc-xl-offset-6 {
    margin-left: 50%; }
  .fbc-xl-offset-7 {
    margin-left: 58.33%; }
  .fbc-xl-offset-8 {
    margin-left: 66.67%; }
  .fbc-xl-offset-9 {
    margin-left: 75%; }
  .fbc-xl-offset-10 {
    margin-left: 83.33%; }
  .fbc-xl-offset-11 {
    margin-left: 91.67%; }
  .fb-start-xl {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .fb-center-xl {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .fb-end-xl {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .fb-top-xl {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .fb-middle-xl {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .fb-bottom-xl {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .fb-around-xl {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .fb-between-xl {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .fb-first-xl {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .fb-last-xl {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }
